<ion-view view-title="Feature">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="title-categories">
            <i class="ion ion-easel"></i> 搞笑 <i class="ion ion-more pull-right"></i>
        </div>
            <!--
           <div ng-repeat="item in data.videos">

            <div class="title-categories">
                <i class="ion ion-easel"></i> {{item.name}} <i class="ion ion-more pull-right"></i>
            </div>
            -->

            <div class="list custom-list">

                <a class="item item-thumbnail-left" ng-repeat="v in data.videos" ng-click="viewVideo(v)">
                    <div class="img-item">
                        <div class="thumnail-video">
                            <img ng-src="{{v.thumbnail}}">
                            <div class="time-video" ng-if="!v.ep">{{v.duration}}</div>
                            <div class="list-video" ng-if="v.ep">
                                <div class="text-center">{{v.ep}}</div>
                                <i class="ion ion-android-playstore"></i>
                            </div>
                        </div>
                    </div>
                    <h3>{{v.title}}</h3>
                    <p>{{v.source}}</p>
                    <p>{{v.view_count}} views</p>
                </a>

            </div>


        <!-- </div> -->

    </ion-content>
</ion-view>